*{
    background:#292a2d;
    color: #a9a9b3;
    font-family: 'IBM Plex Sans', Inter, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
h1{
    font-size: 40px;
}

.page{
    
    margin: 0 auto;
    width: 55%;
   
}

.post{
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
  
}

.links-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}
.s-container{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: flex-start;
    
    

}
.links{
   
    font-size: 20px;
    margin-left: 8px;
    padding-top: 5px;
    padding-left: 3px;
    text-decoration:none;
}

a:hover {
    color:#a786df;
    text-decoration: underline;
}

@media only screen and (max-width:400px){
    .page{
        width: 90%;
    }
    .post{
        font-size: 13px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 11.5px;
    }
    .links-container{
        font-size: 12px;
    }
    .links{
        font-size: 13px;
    }


}

@media only screen and (min-width:401px) and (max-width:700px){
    .page{
        width: 90%;
        
    }
    .post{
        font-size: 17px;
    }
    h1{
        font-size: 28px;
    }
    .links{
        font-size: 20px;
    }
   
}
@media only screen and (min-width:700px) and (max-width:960px){

    .page{
        width: 70%;
        
    }
    .post{
        font-size: 19px;
    }
    h1{
        font-size: 33px;
    }
    
    .links{
        font-size: 24px;
        
    }
}



